.scoreboard{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00001d;
  h1{
    margin-bottom: 10px;
    color: #c8cc3d;
  }
  table{
    color: #ffffff;
    width: 400px;
    font-size: 18px;
    th{
      background-color: #003296;
      text-align: center;
      padding: 0 20px;
    }
    td{
      border: 1px solid #ffffff;
      border-width: 0 0  1px 0;
    }
  }
}
