.scoreboard{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00001d;
  table{
    color: #ffffff;
    font-size: 18px;
    th{
      background-color: #003296;
      text-align: left;
      padding: 0 20px;
    }
  }
}
