<div class="game-content">
  <div class="game-data">
    <div class="game-progress">
      <p class="quest-p"><span>1</span> / 10</p>
      <div class="progress-cont">
        <div>
          <p>Progress</p>
        </div>
      </div>
    </div>
    <p class="score">Score: <span>20</span></p>
  </div>
  <h4 class="question" #question></h4>
  <div class="question-cont" #answersCont>

  </div>
  <div class="nextBtnCont">
    <button class="next">Next Question</button>
  </div>
</div>

<!--<button>sadkjasd;jas;dj as;jd;asjd;ajsdj;l ja;jsdj;lasd; </button>-->
<!--<button>sadkjasd;jas;dj as;jd;asjd;ajsdj;l ja;jsdj;lasd; </button>-->
<!--<button>sadkjasd;jas;dj as;jd;asjd;ajsdj;l ja;jsdj;lasd; </button>-->
<!--<button>sadkjasd;jas;dj as;jd;asjd;ajsdj;l ja;jsdj;lasd; </button>-->
