<div class="game-content">
  <div class="game-data">
    <div class="game-progress">
      <p class="quest-p"><span>{{ansProgress}}</span> / 10</p>
      <div class="progress-cont">
        <div [style.width]="ansPercent + '%'" class="progress">
          <p>Progress</p>
        </div>
      </div>
    </div>
    <p class="score">Score: <span>{{score}}</span></p>
  </div>
  <h4 class="question" #question></h4>
  <div class="question-cont">
    <button #answers class="answers"></button>
    <button #answers class="answers"></button>
    <button #answers class="answers"></button>
    <button #answers class="answers"></button>
  </div>
  <div class="nextBtnCont">
    <button (click)="nextQuestion()"  class="next" #nextBtn disabled>Next Question</button>
  </div>
  <div [className]="EndGameActive ? 'end-game-cont active' : 'end-game-cont'">
    <div [className]="EndGameActive ? 'end-wrapper active' : 'end-wrapper'">
      <h4>Your score is: {{score}}</h4>
      <div class="btn-cont">
        <button (click)="resetGame()">Play Again</button>
        <button (click)="returnMenu()">Main Menu</button>
      </div>
    </div>
  </div>

</div>

