<div class="forms-wrapper" [formGroup]="regFormGroup">
  <form>
    <h1>Sign Up</h1>
    <hr>
    <div>
      <label>Full name</label>
      <input type="text" formControlName="fullName">
      <ng-container *ngIf="fullName.errors && fullName.touched">
        <span>The name must contain at least 4 characters</span>
      </ng-container>
    </div>
    <div>
      <label>Email</label>
      <input type="text" formControlName="email">
      <ng-container *ngIf="email.errors && email.touched">
        <span>Please enter your email address</span>
      </ng-container>
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password">
      <ng-container *ngIf="pass.errors && pass.touched">
        <span>The name must contain at least 8 characters</span>
      </ng-container>
    </div>
    <div>
      <label>Re-Password</label>
      <input type="password" formControlName="confirmPassword">
    </div>
    <ng-container *ngIf="!validatePass && pass.touched">
      <span>Repeated password does not match</span>
    </ng-container>
    <p>Already have an account? <span (click)="toLogin()">Sign in</span></p>
    <button (click)="onRegister()" [disabled]="regFormGroup.invalid" >Register</button>
  </form>
</div>
