.game-content{
  position: relative;
  min-height: 100vh;
  background-color: #00001d;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .game-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .score{
      font-size: 25px;
      margin: 38px 10px 0 0;
    }
    .game-progress{
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        margin-bottom: 15px;
      }
      .progress-cont{
        position: relative;
        box-sizing: content-box;
        width: 200px;
        height: 30px;
        border-radius: 15px;
        border: 3px solid #1c9650;
        display: flex;
        .progress{
          width: 10%;
          height: 31px;
          background-color: #1c9650;
          border-radius: 10px;
          transition-duration: 1s;
          p{
            position: absolute;
            top: 20%;
            left: 35%;
            color: #ffffff9f;
          }
        }
      }
    }
  }
  .question{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
  .question-cont{
    display: flex;
    flex-direction: column;
    width: 60%;
    .answers{
      width: 100%;
      height: 40px;
      text-align: left;
      padding-left: 10px;
      color: #ffffff;
      font-size: 15px;
      background-color: #3550a1;
      margin-bottom: 10px;
      transition-duration: 0.5s;
      cursor: pointer;
      border-radius: 12px;
      border: none;
      &:hover{
        box-shadow: 1px 0px 15px 0px #327399;
        transform: scale(1.02)
      }
    }
  }
  .nextBtnCont{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    .next{
      color: #ffffff;
      border-radius: 12px;
      width: 120px;
      height: 50px;
      background-color: #6db772;
      cursor: pointer;
      &:disabled{
        background-color: #e54f4f;
      }
    }
  }
  .end-game-cont{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active{
      display: flex;
    }
    .end-wrapper{
      position: absolute;
      transition-duration: 0.5s;
      transform: translateY(-200%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 29, 0.96);
      box-shadow: 1px 0px 15px 0px #ff9634;
      border: 1px solid red;
      border-radius: 12px;
      &.active{
        width: 60%;
        height: 60%;
        transform: translateY(10%);
      }
      h4{
        font-size: 22px;
        margin-bottom: 15px;
      }
      div{
        button{
          margin: 10px;
          width: 120px;
          height: 40px;
          font-size: 18px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition-duration: 1s;
          color: #322c98;
          &.againBtn{
            background-color: #a333b6;
            &:hover{
              box-shadow: 1px 0px 29px 0px #60018d;
              transform: scale(1.1);
            }
          }
          &.menuBtn{
            background-color: #009a78;
            color: #86063e;
            &:hover{
              box-shadow: 1px 0px 29px 0px #4186ce;
              transform: scale(1.1);
            }
          }
        }
      }
    }

  }
}

